/*-----------------------------
# [Color codes]
----------------------------- */
$primary-color: #fff254;
$link-color: #181d23;
$link-color-hover: #424242;
$text-color: #424242;
$bg-bright: #fff;
$bg-dark: #424242;
$bg-gray: #f2f2f2;
$border-color: #424242;
$black: #424242;
$white: #fff;
$blue: #2fa0e2;
$yellow: #ffd013;
$gold: #f1a426;
$gray: #6e6e6e;
$red: #cc3137;
$green: #50C149;
$title-color: #4d4d4d;