@import 'breakpoints';
@import 'variables';

.about-page {
  background: $white;
  min-height: 100vh;
  display: flex;
	flex: 0 1 auto;
	flex-direction: column;
  justify-content: center;
  
  @include breakpoint-small-down {
    padding-top: 3rem;
  }

  h1 {
    padding: 1rem 0;
    font-size: 3rem;
  }

  .content-grid {
    flex: auto;
  }

  .about-wrapper {
    
    .about-content {
      font-size: 0.875rem;
      line-height: 1.5rem;
      
      .avatar {
      //  min-width: 30%; 
      }
      img {
        border-radius: 50%;
        width: 300px;
        height: 300px;
        object-fit: cover;
    }  
      @include breakpoint-small-down {
        font-size: 1rem;
      }

      p {
        font-weight: 300;
        padding: 0.5rem 0;
      }
      .highlight {
        font-weight: bold;
      }
      .text-emoji {
        padding: 2rem 0;
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
      }
    }

    .education-content {
      font-size: 0.875rem;
      line-height: 1.5rem;
 
      .year {
        min-width: 30%; 
        text-align: center;
      }

    }

    .experience-content {
      font-size: 0.875rem;
      line-height: 1.5rem;
      
      .experience-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 4rem 0;
        .experience {
            min-width: 22%;
            margin: auto;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            .experience__image {
                width: 100px;
                height: 100px;
                object-fit: contain;
            }
            
            &__details {}
            &__year,
            &__position {
              color: $gray;
            }
        }
    }
  
    }
  }

}