@import 'breakpoints';
@import 'variables';

.about-page {
  background: $white;
  min-height: 100vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;

  @include breakpoint-small-down {
    padding-top: 3rem;
  }

  .content-grid {
    flex: auto;
  }

  .flex-box {
    p:first-child {
      flex: 1 0 0;
      text-align: center;
      width: 15rem;
    }
    p:last-child {
      flex: 2 0 0;
    }
  }

  .about-wrapper {

    .about-content {
      font-size: 0.875rem;
      line-height: 1.5rem;

      img {
        border-radius: 50%;
        object-fit: cover;
        padding: 0 2rem;
        min-width: 120px;
      }
      @include breakpoint-small-down {
        font-size: 1rem;
      }

      p {
        font-weight: 300;
        padding: 0.5rem 0;
      }
      .highlight {
        font-weight: bold;
      }
      .text-emoji {
        padding: 2rem 0;
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
      }
    }

    .education-content {
      font-size: 0.875rem;
      line-height: 1.5rem;

      .year {
        min-width: 30%;
        text-align: center;
      }
    }

    .experience-content {
      font-size: 0.875rem;
      line-height: 1.5rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      padding: 0 0 4rem 0;

      .experience {
        width: 25%;
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        .experience-image {
          width: 100px;
          height: 100px;
          object-fit: contain;
        }

        .experience-year,
        .experience-position {
          color: $gray;
        }
      }

      @include breakpoint-small-down {
        .experience {
          width: 50%;
        }
      }
    }
    
  }
}
