@import 'variables';

.contact {
  color: $black;
  font-size: 1rem;
  clip-path: polygon(0% 25%, 30% 0%, 100% 25%, 100% 100%, 0% 100%);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
  background: $gold;
  z-index: 0;
}

.contact .content-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  h3 {
    margin: 2rem 0 2rem -9rem;
    padding-left: 0;
  }
  
  .info {
    padding: 2rem;
    border: 1px solid #000;
    
    &__email {
        margin-bottom: -2.5rem;
        background: #f1a426;
        text-align: center;
        
    }
    &__phone{
      font-size: 1.25rem;
      margin-bottom: 1rem;
      img {
        vertical-align: middle;
        margin-right: 1rem;
      }
    }
  
  }
}

@media only screen and (max-width: 649px) {
  .contact .content-grid {
    flex-direction: column;
  }

  .contact .content-grid h4 {
    padding-bottom: .8rem;
  }
}