@import 'breakpoints';
@import 'variables';

.dev-landing-page {
  background: $white;
}

.landing-page {
  background: $blue;
  color: $white;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 0, 100% 75%, 70% 100%, 0 75%);
  clip-path: polygon(0 0, 100% 0%, 100% 0, 100% 75%, 70% 100%, 0 75%);
  min-height: 100vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  @include breakpoint-small-down {
    clip-path: polygon(0 0, 100% 0%, 100% 0, 100% 90%, 70% 100%, 0 90%);
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 0, 100% 90%, 70% 100%, 0 90%);
  }
  main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    text-align: center;

    @include breakpoint-small-down {
      padding: 4.25rem 1.5rem 1rem;
    }

    .intro-wrapper {
      flex: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      text-align: left;
      flex-wrap: wrap;
      max-width: 50rem;

      .intro-heading {
        position: relative;
        height: 10rem;
        span:first-child {
          position: absolute;
          top: -1rem;
          left: 6rem;
          transform: rotate(35deg);
        }

        img {
          position: absolute;
          top: -2.5rem;
          width: 60px;
        }

        .tagline {
          font-size: 2.5rem;
          margin: 1.5rem 0;
          font-weight: bold;
        }

        @include breakpoint-small-down {
          height: 3rem;
          span:first-child {
            top: -1.5rem;
            left: 2rem;
          }
          img {
            width: 30px;
          }

          .tagline {
            font-size: 1.25rem;
          }
        }
      }

      .business-card {
        color: $gray;
        font-size: 0.75rem;
        background-image: url('./../images/ux.png'),
          url('./../images/mobile_bg.png');
        background-size: 55%, contain;
        background-position: right 30% bottom 20%, center top;
        background-repeat: no-repeat;
        filter: drop-shadow(5px 5px 10px #076aa3b5);
        height: 500px;
        min-width: 350px;
        position: relative;

        .base-info {
          position: absolute;
          top: 20%;
          left: 22%;
          width: 55%;
          .welcome span {
            display: block;
            text-transform: uppercase;
            font-size: 1.25rem;
            margin-bottom: 2rem;
          }
          .name,
          .birth {
            border-bottom: 1px solid;
            line-height: 1rem;
            margin: 0.5rem 0;
          }
          .name {
            background: transparent url('./../images/icon.png') left center
              no-repeat;
            background-size: 0.7rem;
            padding-left: 1.5rem;
          }
          .birth {
            background: transparent url('./../images/cake.png') left center
              no-repeat;
            background-size: 0.7rem;
            padding-left: 1.5rem;
          }
          .view-more {
            border-radius: 1rem;
            background: $green;
            color: $white;
            display: block;
            text-align: center;
            width: 6rem;
            height: 2rem;
            line-height: 2rem;
            margin: 1rem auto;
          }
        }
        .contact-me {
          border-top: 1px solid;
          position: absolute;
          bottom: 10%;
          left: 22%;
          line-height: 1.25rem;
          display: flex;
          font-size: 0.55rem;
          flex-direction: row;
          justify-content: space-between;
          .phone {
            background: transparent url('./../images/phone_green.png') left
              center no-repeat;
            background-size: 1rem;
            padding: 0 0.5rem 0 1.5rem;
          }
        }
        
        @include breakpoint-small-down {
          height: 400px;
          min-width: 250px; 
        }
      }
      
    }

    .browser-notes {
      font-size: 0.75rem;

      span {
        border-width: 1px;
        border-style: solid;
        padding: 0.125rem 0.5rem;
      }
    }
  }
}
