@import 'variables';

footer {
  color: $white;
  font-size: 1rem;
  clip-path: polygon(0 0, 20% 25%, 100% 0, 100% 100%, 0 100%);
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  background: $gold;
  z-index: 0;
}

footer .content-grid {
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 649px) {
  footer .content-grid {
    flex-direction: column;
  }

  footer .content-grid h3 {
    padding-bottom: .8rem;
  }
}