@import 'breakpoints';

.projects {
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
	flex: 0 1 auto;
	flex-direction: column;
  justify-content: center;
  
  @include breakpoint-small-down {
    padding-top: 3rem;
  }

  h1 {
    padding: 1rem 0;
    font-size: 3rem;
  }

  .content-grid {
    flex: auto;
  }

  .project-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include breakpoint-small-down {
      flex-direction: column;
      align-items: center;
    }
  }
}

.project {
  width: 100%;
  margin-bottom: 1rem;  
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  overflow-wrap:break-word;


  &:nth-child(even) {
    direction: rtl;
    justify-content: flex-end;
    text-align: left;
  }

  @include breakpoint-small-down {
    width: 15rem;
  }

  &__image {
    width: 40%;
  }

  &__details {
    padding: 1rem 1.5rem;
    width: 60%;
  }

  &__title {
    font-size: 1.125rem;
    font-weight: 400;
    text-align: left;

    @include breakpoint-small-down {
      font-size: 1.25rem;
    }
  }

  &__desc {
    font-size: 0.75rem;
    font-weight: 400;
    text-align: left;
    line-height: 1.25rem;
    min-width: 0;
    

    @include breakpoint-small-down {
      font-size: 0.875rem;
    }
  }

  &__icon {
    font-size: 1.5rem;
    font-weight: 100;
    text-align: left;

    svg {
      margin: 0 0.25rem;
    }
  }

  &__links {
    padding: 0 0 0.75rem;
    display: flex;
    justify-content: space-around;
    font-size: 0.875rem;
    font-weight: 400;

    a {
      padding-bottom: 0.25rem;
      border-bottom: 2px solid transparent;
      
      &:hover {
        cursor: pointer;
        border-bottom: 2px solid inherit;
      }
    }
  }
}
